.tlt-website-banner {
    display: block;
    background-image: url(/img/tlt-website-banner.png);
    background-position: left center;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: relative;
}